$mainred:#C91F1C;
$mainblack:#0C1F1C;

.app{
    height:100%;
    display:grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "aside content";
}

.aside{
    grid-area:aside;
}

.content{
    grid-area:content;
}

