html{
  height:100%;
}
body {
  height:100%;
  padding:0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

}
#root{
  height:100%;
}

